.jaspero__confirmation {
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 108;

  &_overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.54);
    transform: translateZ(0);
    opacity: 0;
    transition: all .5s cubic-bezier(.35,0,.25,1);
    position: fixed;
    z-index: 109;
  }

  &_dialog {
    min-width: 350px;
    max-width: 50%;
    max-height: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    z-index: 110;
    outline: none;
    border-radius: 2px;
    opacity: 0;
    box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
    -ms-transform: scale(.9,.85);
    transform: scale(.9,.85);
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1),transform .4s cubic-bezier(.25,.8,.25,1) .05s;
    will-change: opacity,transform;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);

    &-title {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: .005em;
      line-height: 26px;
      margin-bottom: 20px;
      padding: 24px 24px 0;
      text-transform: capitalize;
    }

    &-content {
      padding: 0 24px 24px;
      -ms-flex: 1;
      flex: 1;
      overflow: auto;
      position: relative;
    }

    &-actions {
      min-height: 52px;
      padding: 8px 8px 8px 24px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end;
      position: relative;

      button {
        min-width: 88px;
        color: white;
        min-height: 36px;
        margin: 6px 8px;
        padding: 0 16px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        background: none;
        border: 0;
        border-radius: 2px;
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        font-family: inherit;
        font-size: 14px;
        font-style: inherit;
        font-variant: inherit;
        font-weight: 500;
        letter-spacing: inherit;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
      }

      .default {
        background: #989898;

        &:hover {
          background: #7f7f7f;
        }
      }

      .primary {
        background: #ec4a1d;

        &:hover {
          background: #e57454;
        }
      }
    }
  }
}